body {
  font-family: 'Roboto', sans-serif; /* основной шрифт для всего документа и ссылок */
}


/* --- ОБЩМЕ СИЛИ ДЛЯ ВСЕХ ИЗОБРАЖЕНИЙ --- */

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* --- HEADER --- */

.header {
  background-color: var(--bg-white-color);
  border: 1px solid #ECECEC;
}

.header-container {
  display: flex; /* активация flexbox свойств (делает блок flex-контейнером и все вложенные flex-элементы (первого уровня) выстраиваются по главной оси по горизонтали */
  align-items: center; /* выравнивание flex-элементов вдоль поперечной оси по центру */
  width: 1230px; /* ширина блока */
  padding-left: 15px; 
  padding-right: 15px; 
  margin: 0 auto; /* выравнивание блока по центру */
}

.navigation {
  display: flex; 
  align-items: center; 
}

.logotype {
  margin-right: 93px; 
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--blue-text);
}

.navigation-list {
  display: flex;
}

.navigation-item {
  margin-right: 50px; 
}

.navigation-item:last-child {
  margin-right: 0px; 
}

.navigation-link {
  display: block; 
  padding-top: 32px; 
  padding-bottom: 32px; 
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--black-text);
  position: relative; /* превращает navigation-link в точку отсчета для позиционирования navigation-link::after */
}

.navigation-link.current {
  color: var(--blue-text);
}

.navigation-link:hover {
  color: var(--blue-text);
}

.navigation-link::after {
  content: ""; /* свойство для создания псевдоєлемента after */
  position: absolute; /* делает подчёркивание ссылки свободно перемещаемой относительно navigation-link */
  bottom: 0px; /* отступ снизу от navigation-link */
  display: block; /* превращает подчёркивание ссылки в блочный элемент */
  width: 100%; /* растягивает подчёркивание ссылки на всю ширину родительского блока */
  height: 4px; /* высота подчёркивания ссылки */
  border-radius: 2px;
  background-color: var(--bg-blue-color); /* цвет подчёркивания ссылки */
  transform: scaleX(0); /* масштабирует подчёркивание ссылки по горизонтали (подчёркивание ссылки ужимается в центр) */
  transition: transform 250ms var(--timing); /* скорость перехода между двумя состояниями */
}

.navigation-link:hover::after {
  transform: scaleX(1); /* масштабирует подчёркивание ссылки по горизонтали (подчёркивание ссылки растягивается от центра на 100% ширины родительского блока) */
}

.navigation-link.current::after {
  transform: scaleX(1); /* делает постоянно активным подчёркивание ссылки */
}

.contacts-list {
  display: flex; 
  margin-left: auto; 
}

.contacts-item {
  align-items: center;
  justify-content: center;
  margin-left: 50px; 
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-icon:hover {
  fill: var(--blue-text);
}

.contacts-item:first-child {
  margin-left: 0px; 
}

.contacts-link {
  display: block; 
  padding-top: 32px; 
  padding-bottom: 32px; 
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--gray-text);
}

.contacts-link:hover {
  color: var(--blue-text);
}


/* HERO */

.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, var(--gradient-collor), var(--gradient-collor)), url("../images/hero-image.jpg");
  background-color: var(--bg-blue-color-hero);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero-container {
  width: 1230px; 
  padding-left: 15px; 
  padding-right: 15px; 
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  margin-top: 0px; 
  margin-bottom: 40px;
  color: var(--white-text);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-primary {
  display: inline-block;
  background-color: var(--bg-blue-color);
  border: 0px;
  border-radius: 4px;
  padding-left: 32px; 
  padding-top: 10px;
  padding-right: 32px; 
  padding-bottom: 10px; 
  min-width: 200px;
  color: var(--white-text);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 0.06em;
}


/* --- MODAL --- */

.modal {
  position: absolute; /* позиционирует модальное окно относительно родительского блока backdrop */
  top: 50%; /* ставит модальное окно на 50% высоты вьюпорта */
  left: 50%; /* ставит модальное окно на 50% ширины вьюпорта */
  transform: translate(-50%, -50%); /* горизонтальное и вертикальное центрирование модального окна относительно вьюпорта */
  width: 530px; /* ширина модального окна */
  height: 580px; /* высота модального окна */
  background-color: var(--bg-white-color); /* фон модального окна */
  padding: 8px;
}


/* --- ФОРМА --- */

.form {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}


/* --- КОММЕНТАРИЙ --- */

textarea {
  resize: none;
}



/* --- MODAL CLOSE BUTTON --- */

.close-button {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: auto;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  border: 1px solid var(--border-icon-collor);
  background-color: var(--bg-white-color);
}

.close-icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
}


/* ADVANTAGES */

.advantages {
  background-color: var(--bg-white-color);
}

.advantages-container {
  display: flex;
  justify-content: space-between;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.antenna-item {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--bg-light-gray-color);
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.antenna-icon {
  width: 70px;
  height: 70px;
}

.clock-item {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--bg-light-gray-color);
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.clock-icon {
  width: 70px;
  height: 70px;
}

.diagram-item {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--bg-light-gray-color);
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.diagram-icon {
  width: 70px;
  height: 70px;
}

.astronaut-item {
  display: flex;
  width: 270px; 
  height: 120px;
  background-color: var(--bg-light-gray-color);
  border-radius: 4px; 
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.astronaut-icon {
  width: 70px;
  height: 70px;
}

.advantages-subtitle {
  margin-top: 0px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-text);
}

.advantages-description {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--gray-text);
}


/* SERVICES */

.services {
  background-color: var(--bg-white-color);
}

.services-container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.services-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.services-list {
  display: flex;
  justify-content: space-between; 
}

.service-thumb {
  position: relative;
  height: 300px;
}

.service-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-description {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--white-text);
  background-color: var(--bg-service-collor);
}


/* TEAM */

.team {
  background-color: var(--bg-light-gray-color);
}

.team-container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.team-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--bg-white-color);
}

.master-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.master-position {
  margin-top: 0px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--gray-text);
}

.network-list {
  display: flex;
  width: 210px;
  padding: auto;
  margin: auto;
  margin-bottom: 19px;
  justify-content: space-between;
}

.network-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
}

.network-link:hover, .network-link:focus {
  color: var(--white-text);
  background-color: var(--bg-blue-color);
}

.network-icon {
  fill: currentColor;
}


/* CLIENTS */

.clients {
  background-color: var(--bg-white-color);
}

.clients-container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  
}

.clients-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  color: var(--bg-gray-color);
  border: 1px solid var(--bg-gray-color);
  border-radius: 4px;
}

.clients-link:hover, .clients-link:focus {
  color: var(--bg-blue-color);
  box-shadow: 0 0 0 2px var(--bg-blue-color);
}

.logo-icon {
  fill: currentColor;
}


/* JOB button*/

.portfolio-container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons-list {
  display: inline-block;
  margin-right: 8px;
}

.buttons-list:last-child {
  margin-right: 0px;
}

.job-btn {
  background-color: var(--bg-light-gray-color);
  border: 0px;
  border-radius: 4px;
  padding-left: 22px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  min-width: 73px;
  color: var(--black-tex);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.job-btn:hover,
.job-btn:focus,
.job-btn:active {
  background-color: var(--bg-blue-color);
  color: var(--white-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* JOB */

.job {
  background-color: var(--bg-white-color);
  display: flex;
  flex-wrap: wrap;
}

.job-list {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border: 1px solid var(--bg-light-white-collor);
}

.job-list:hover, .job-list:focus {
  color: var(--bg-blue-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.job-list:nth-child(3n) {
  margin-right: 0px;
}

.job-list:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.job .thumb {
  position: relative; /* превращает thumb в точку отсчета для позиционирования actions */
  height: 300px;
  overflow: hidden; /* скрывает оверлей в thumb */
}

.job-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.actions {
  position: absolute; /* позиционирует оверлей относительно родительского блока thumb */
  bottom: 0; /* начальная позицыя для оверлей - нижний угол относительно thumb */
  left: 0; /* начальная позицыя для оверлей - левый угол относительно thumb */
  transform: translatey(100%); /* опускает оверлей по вертикали на всю высоту вниз thumb */
  width: 100%; /* оверлей занимает 100% ширины thumb */
  height: 300px; /* высота оверлея */
  background-color: var(--overlay-collor); /* прозрачный фон для оверлей */
  transition: transform 250ms var(--timing); /* скорость перехода между двумя состояниями */
}

.job-link:hover .actions {
  transform: translatey(0); /* при ховере на ссылку поднимает оверлей по вертикали на всю высоту thumb */
}

.actions-description {
  margin-left: 24px;
  margin-top: 63px;
  margin-right: 24px;
  margin-bottom: 63px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.job-name {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--black-text);
}

.job-type {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--gray-text);
}


/* FOOTER */

.footer {
  background-color: var(--bg-blue-color-hero);
}

.footer-container {
  display: flex;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.footer-list {
  display: block;
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.footer-web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--blue-text);
}

.footer-contacts {
  display: inline-block;
}

.location {
  display: block;
  margin-top: 0px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white-text);
  white-space: nowrap;
}

.mail-link {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--gray-text-op60);
}

.tel-link {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--gray-text-op60);
}

.social-title {
  margin-top: 15px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
}

.social-list {
  display: flex;
  width: 210px;
  padding: auto;
  margin: auto;
  justify-content: space-between;
}

.social-link {
  display: flex;
  width: 20px;
  height: 20px;
  padding: 12px;
  color: var(--white-text);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);;
}

.social-link:hover, .social-link:focus {
  color: var(--white-text);
  background-color: var(--bg-blue-color);
}

.social-icon {
  fill: currentColor;
}


/* --- BACKDROP --- */

.backdrop {
  position: fixed; /* backdrop при прокрутке страницы остается на своем месте и не прокручивается вместе со страницей */
  top: 0; /* начальная позицыя для backdrop верхний угол относительно вьюпорта */
  left: 0; /* начальная позицыя для backdrop левый угол относительно вьюпорта */
  width: 100%; /* backdrop занимает 100% ширины вьюпорта */
  height: 100%; /* backdrop занимает 100% высоты вьюпорта */
  background-color: var(--bg-backdrop-collor); /* прозрачный фон для backdrop */
}

.backdrop.is-hidden {
  opacity: 0; /* делает прозрачным backdrop */
  pointer-events: none; /* помогает при скрытом backdrop чтобы он через себя пропускал все клики и другие события */
}